.footer {
    padding: 26px 24px 0 16px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0px;
        text-align: center;
        color: $colorGrey;
        opacity: 0.72;
    }

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
        gap: auto;
        padding: 8px;

        &__text {
            &:nth-child(1) {
                width: 30%;
                text-align: left;
            }

            &:nth-child(2) {
                width: 32%;
            }

            &:nth-child(3) {
                width: 35%;
                text-align: right;
            }
        }
    }

    @media (min-width: 1120px) {
        margin-left: 28px;
    }
}